{
    "BOT_TOKEN": "",
    "ROLE_MONSTER_HUNTER_FREEDOM_UNITE": "",
    "ROLE_MONSTER_HUNTER_3_ULTIMATE": "",
    "ROLE_MONSTER_HUNTER_4_ULTIMATE": "",
    "ROLE_MONSTER_HUNTER_GENERATIONS": "",
    "ROLE_MONSTER_HUNTER_GENERATIONS_ULTIMATE": "",
    "ROLE_MONSTER_HUNTER_WORLD": "",
    "ROLE_MONSTER_HUNTER_WORLD_ICEBORN": "",
    "ROLE_MONSTER_HUNTER_RISE": ""
}